DATABASE_URL=postgresql://postgres:password@localhost:5432/basilisk_db
SECRET_KEY=change-this-to-a-random-secret-in-production
DEBUG=True
BASILISK_FRONTEND_URL=https://basilisk-livid.vercel.app
BASILISK_BACKEND_URL=https://basilisk-ja22.onrender.com
